*.pyc
廠商模擬系統實驗
eda_data_store
feature_engineering_data_store
output_model
shap
structured_data_regressor
structured_data_classifier
project_store
algo
download
output
dist
build
log
data
test_report
AISimulationSpace
sample_folder
nssm-2.24
other_demo
AutoGluonModelsTMP
*.pkl
stopping_process
*.log
*.feather
*.csv
*.pkl
.ipynb_checkpoints
*.spec
.venv